<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Toy Robot</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
