<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Toy Robot
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Toy Robot</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">
    <div>
      <header>Actions</header>
      <form class="form" [formGroup]="robotForm">
      <ion-input placeholder="X" formControlName="x" type="number" required [ngClass]="{'red':x.invalid && (x.dirty || x.touched)}"></ion-input>
      <ion-input placeholder="Y" formControlName="y" type="number" required [ngClass]="{'red':y.invalid && (y.dirty || y.touched)}"></ion-input>
      <ion-input placeholder="F" formControlName="f" required [ngClass]="{'red':f.invalid && (f.dirty || f.touched)}"></ion-input>
      <ion-button size="small" [disabled]="x.invalid || y.invalid || f.invalid" (click)="place()">PLACE</ion-button>
      <ion-button size="small" *ngIf="toyRobotService.isPlaced()" (click)="turn('MOVE')">MOVE</ion-button>
      <ion-button size="small" *ngIf="toyRobotService.isPlaced()" (click)="turn('LEFT')">LEFT</ion-button>
      <ion-button size="small" *ngIf="toyRobotService.isPlaced()" (click)="turn('RIGHT')">RIGHT</ion-button>
      <ion-button size="small" (click)="report()" *ngIf="toyRobotService.isPlaced()">REPORT</ion-button>
    </form>
    </div>
    <div>
        <div *ngFor="let item of toyRobotService.logs">{{item}}</div>
    </div> 
  </div>
</ion-content>
